@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

@layer base {
  a {
    @apply hover:text-linkColor;
  }
}

* {
  cursor: none;
}

.sprite-container {
  width: 64px; /* Width of a single frame */
  height: 64px; /* Height of a single frame */
  overflow: hidden;
}

.sprite-sheet {
  width: 384px;
  height: 64px;
  background-image: url('/images/puppeteer/novi2.png');
}

